<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xyz.orbital.singapore.jars">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.xyz.orbital.singapore.jars.ExpressionActivity"></activity>
        <activity
            android:name="com.xyz.orbital.singapore.jars.PopUpImageActivity"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name="com.xyz.orbital.singapore.jars.ScreenshotActivity" />
        <activity android:name="com.xyz.orbital.singapore.jars.ArchiveActivity" />
        <activity android:name="com.xyz.orbital.singapore.jars.SettingsActivity" />
        <activity android:name="com.xyz.orbital.singapore.jars.MakeNewCandyActivity" />
        <activity android:name="com.xyz.orbital.singapore.jars.ViewAllCandiesActivity" />
        <activity android:name="com.xyz.orbital.singapore.jars.CurrentItemsActivity" />
        <activity android:name="com.xyz.orbital.singapore.jars.TrainingActivity" />
        <activity android:name="com.xyz.orbital.singapore.jars.MakeNewCandyFromFloatingActivity" />
        <activity
            android:name="com.xyz.orbital.singapore.jars.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.xyz.orbital.singapore.jars.DailyBackgroundJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name="com.xyz.orbital.singapore.jars.FloatingWindowService" />

        <receiver
            android:name="com.xyz.orbital.singapore.jars.Alarm"
            android:enabled="true" />
    </application>

</manifest>