<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.liuzechu2013.singapore.jars">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScreenshotActivity"></activity>
        <activity android:name=".ArchiveActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MakeNewCandyActivity" />
        <activity android:name=".ViewAllCandiesActivity" />
        <activity android:name=".ViewFileActivity" />
        <activity android:name=".CurrentItemsActivity" />
        <activity android:name=".TrainingActivity" />
        <activity android:name=".MakeNewCandyFromFloatingActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".DailyBackgroundJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".FloatingWindowService" />

        <receiver
            android:name=".Alarm"
            android:enabled="true" />
    </application>

</manifest>